

.cat{
    color: black;
    
}

.cat:hover{

    color: #2E8BC0;
    font-weight: bold;
    border-bottom: 2px solid #2E8BC0; 
    padding-bottom: 2px; 
}


.cart-nav {
    display: flex;
    align-items: center;
}

.cart-count {
    
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 11px;
    font-size: 10px;
    background-color: red;
    color: white;
}

.nav-scroll {
    background-color: #2E8BC0 !important; 
}

.navbar.fixed-top {
    transition: background-color 0.3s ease; 
}

.scroll-cat{
    color: white;
}
.scroll-cat:hover{

    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 2px; 
}